body {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  width: 32px;
  height: 32px;
  position: absolute;
  pointer-events: none;
  background: url("../images/cursor1.png") no-repeat center center;
  background-size: contain;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.custom-cursor.link-hover {
  background: url("../images/cursor2.png") no-repeat center center;
}

.custom-cursor.text-select {
  background: url("../images/cursor3.png") no-repeat center center;
}

a {
  cursor: none; /* Hide the default cursor over links */
}
